

<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>
         <!-- set automatically, see soupault.conf --> 
      </title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/52ml.css">
   </head>
   <body>
      <div class="container">
         <header>
            <include>partials/navbar.html</include>
         </header>
         <main class="container__main">
            <!-- Left sidebar -->
            <aside class="container__left">
            </aside>
            <!-- Main content -->
            <article class="container__middle">
            </article>
            <!-- Right sidebar -->
            <nav class="container__right">
            </nav>
         </main>
         <footer>
            <div class="centering">
              <img src="/powered_by_soupault.png" >
            </div>
         </footer>
      </div>
   </body>
</html>